<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejemplo de nueva página para GOB.mx</title>


    <!-- CSS -->
    <link href="https://framework-gb.cdn.gob.mx/gm/v4/image/favicon.ico" rel="shortcut icon">
    <link href="https://framework-gb.cdn.gob.mx/gm/v4/css/main.css" rel="stylesheet">

  </head>
  <body>

    <!-- Contenido -->
    <main class="page">
      <div class="container"> 
        <p>mi pagina de gob</p>    
    </div>
    </main>

    <!-- JS -->
    <script src="https://framework-gb.cdn.gob.mx/gm/v4/js/gobmx.js"></script>

  </body>
</html>